{% extends 'base.html.twig' %}

{% block pageTitle %}{{ category.title }}{% endblock %}

{% block body %}

{% for post in category.posts %}
    <h4><a href="{{ path('show_post', {'post': post.id}) }} ">{{ post.title }}</a></h4>
    <p>
        {% if post.category is not null %}
            <i>{{ 'category.title'|trans }} <a href="{{ path('show_category', {'category': post.category.id}) }}">{{ post.category }}</a></i>
        {% endif %}
        <p>{{ post.content }}</p>
        <span>{{ 'blog.posted_at'|trans }} {{ post.createdAt|date('d-m-Y H:i') }} </span>
    </p>
{% endfor %}


{% endblock %}