{% extends 'base.html.twig' %}

{% block pageTitle %}{{ post.title }}{% endblock %}

{% block body %}

{{ post.content }}

{% if post.image is not empty %}
<p><img src="/uploads/images/{{ post.image }}" /></p>
{% endif %}

{% for comment in post.comments %}

    <h3>{{ comment.title }} ({{ comment.createdAt|date('d-m-Y H:i') }})</h3>

    <p>{{ comment.content }}</p>
{% endfor %}

{{ form_start(form) }}
{{ form_widget(form) }}
{{ form_end(form) }}


{% endblock %}
