{% extends 'base.html.twig' %}

{% block body %}

      <div class="row marketing">
        <div class="col-lg-6">

            {% for post in pagination %}
                <h4><a href="{{ path('show_post', {'post': post.id}) }} ">{{ post.title }}</a></h4>
                <p>
                    {% if post.category is not null %}
                        <i>{{ 'category.title'|trans }} <a href="{{ path('show_category', {'category': post.category.id}) }}">{{ post.category }}</a></i>
                    {% endif %}
                    {% if post.user is not null %}
                        <i>{{ 'post.written_by'|trans }} {{ post.user.email }}</i>
                    {% endif %}
                    <p>{{ post.content }}</p>
                    {% if post.image is not empty %}
                    <p><img src="/uploads/images/{{ post.image }}" /></p>
                    {% endif %}
                    <span>{{ 'blog.posted_at'|trans }} {{ post.createdAt|date('d-m-Y H:i') }} </span>
                </p>
            {% endfor %}

            <div class="navigation">
                {{ knp_pagination_render(pagination) }}
            </div>

        </div>

      </div>

{% endblock %}
